{% extends "base.html" %}
{% block title %}Detalle De Concepto NI{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block header_left %}
<h1>Detalle De Solicitud HW</h1>
{% endblock header_left %}

{% block content %}
<table class="table table-sm table-striped">
  <thead>
    {% include "solicitudhw/includes/partials/head_solicitudhw.html" %}
  </thead>
  <tbody>
    {% include "solicitudhw/includes/partials/body_solicitudhw.html" %}
  </tbody>
</table>
{% endblock content %}
