{% extends "base.html" %}
{% block title %}Lista De Notificaciones Falla Instalacion{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block nav_nav %}

{% endblock nav_nav %}

{% block header_left %}
<h1>
  Lista De Notificaciones Falla Instalacion {{ notificaciones_falla_instalacion_count }}
  <a href="{% url 'notificaciones:export_notificaciones_falla_instalacion' %}" class="btn btn-info btn-sm" role="button">Exportar</a>
</h1><br>
{% endblock header_left %}

{% block header_right %}
<form class="form-inline" action="{% url 'notificaciones:search_notificacion_falla_instalacion' %}" method="get" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Buscar">
  </div>
   <button type="submit" class="btn btn-default">Buscar</button>
</form>
<h4>total en pagina {{ object_list.count }}</h4>
{% endblock header_right %}

{% block nav_tab %}
<ul class="nav nav-tabs">
  <li role="presentation" {% if request.resolver_match.url_name == 'list_notificacion_requiere_visita' %}class="active"{% endif %}>
    <a href="{% url 'notificaciones:list_notificacion_requiere_visita' %}">Requiere Visita</a>
  </li>
  <li role="presentation" {% if request.resolver_match.url_name == 'list_notificacion_falla_instalacion' %}class="active"{% endif %}>
    <a href="{% url 'notificaciones:list_notificacion_falla_instalacion' %}">Falla Instalacion</a>
  </li>
  <li role="presentation" {% if request.resolver_match.url_name == 'list_notificacion_falla_integracion' %}class="active"{% endif %}>
    <a href="{% url 'notificaciones:list_notificacion_falla_integracion' %}">Falla Integracion</a>
  </li>
  <li role="presentation" {% if request.resolver_match.url_name == 'list_notificacion_falla_mal_rechazo' %}class="active"{% endif %}>
    <a href="{% url 'notificaciones:list_notificacion_falla_mal_rechazo' %}">Falla Mal Rechazo</a>
  </li>
</ul><br>
{% endblock nav_tab %}

{% block content %}
<table class="table table-sm table-striped">
  <thead>
    {% include "notificacion_falla_instalacion/includes/partials/head_notificacion_falla_instalacion.html" %}
  </thead>
  <tbody>
    {% for object in object_list %}
      {% include "notificacion_falla_instalacion/includes/partials/body_notificacion_falla_instalacion.html" %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block nav_paginate %}
{% include "includes/partials/nav_paginate.html" %}
{% endblock nav_paginate %}
