<div class="panel-body">
  <p>Falla instalacion {{ fallas_instalacion }}</p>
  <p>Falla integracion {{ fallas_integracion }}</p>
  <p>Falla software {{ fallas_software }}</p>
  <p>Falla hardware {{ fallas_hardware }}</p>
  <p>Falla datafill {{ fallas_datafill }}</p>
  <p>Falla ajuste potencia {{ fallas_ajuste_potencia }}</p>
  <p>Falla interferencia externa {{ fallas_interferencia_externa }}</p>
  <p>Falla cambio diseno {{ fallas_cambio_diseno }}</p>
  <p>Falla mal rechazo {{ fallas_mal_rechazo }}</p>
  <p>Falla tx {{ fallas_tx }}</p>
  <p>Falla comportamiento esperado {{ fallas_comportamiento_esperado }}</p>
  <p>Falla comportamiento previo {{ fallas_comportamiento_previo }}</p>
  <p>Falla ajuste adyasencia {{ fallas_ajuste_adyasencias }}</p>
</div>
