<tr>
  <th scope="row">{{ object.id }}</th>
  {% if object.npo_asignador %}
    <td><a href="{% url 'users:detail_perfil' object.npo_asignador.slug %}">{{ object.npo_asignador }}</a></td>
  {% else %}
    <td>{{ object.npo_asignador }}</td>
  {% endif %}
  {% if object.npo_ingeniero %}
    <td><a href="{% url 'users:detail_perfil' object.npo_ingeniero.slug %}">{{ object.npo_ingeniero }}</a></td>
  {% else %}
    <td>{{ object.npo_ingeniero }}</td>
  {% endif %}
  {% if object.fm_supervisor %}
    <td><a href="{% url 'users:detail_perfil' object.fm_supervisor.slug %}">{{ object.fm_supervisor }}</a></td>
  {% else %}
    <td>{{ object.fm_supervisor }}</td>
  {% endif %}
  <td><a href="{% url 'estaciones:detail_estacion' object.estacion.pk %}">{{ object.estacion }}</a></td>
  <td>{{ object.actividad.banda}}</td>
  <td>{{ object.actividad.proyecto}}</td>
  <td>{{ object.actividad.escenario}}</td>
  <td>{{ object.actividad.tipo_trabajo}}</td>
  <td>{{ object.actividad }}</td>
  <td><a href="{% url 'actividades:detail_actividad' object.actividad.pk %}">{{ object.wp }}</a></td>
  <td>{{ object.actividad.estado_noc }}</td>
  <td>
    {%  if object.conceptos_npo.all %}
      <a href="{% url 'conceptos:list_concepto_npo_asignacion' object.pk %}">conceptos npo</a>
    {% else %}
      None
    {% endif %}
  </td>
  <td>{{ object.estado_asignacion }}</td>
  <td>{{ object.tipo_intervencion }}</td>
  <td>{{ object.fecha_asignacion }}</td>
  <td>{{ object.creado }}</td>
  <td>{{ object.actualizado }}</td>
  {% if object.estado_asignacion == 'Asignada' or object.estado_asignacion == 'En monitoreo' or object.estado_asignacion == 'Requiere segunda revision' %}

    {% if perms.users.perm_npo_asignador or perms.users.perm_fm_lider or perms.users.perm_gap_administrador %}
      <th>
        <!-- <a href="{% url 'asignaciones:update_asignacion_npo' object.pk %}" class="fm-update btn btn-success btn-sm" role="button" data-fm-head="Actualizar Asignacion NI" data-fm-callback="reload">Actualizar</a> -->
        <a onclick="return update_asignacion_npo('{% url 'asignaciones:update_asignacion_npo_asignador' object.pk %}')" class="btn btn-primary btn-sm" role="button">Actualizar</a>
      </th>
    {% elif perms.users.perm_npo_ingeniero or perms.users.perm_gap_monitoreo %}
    <th>
      <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Accion <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a onclick="return create_concepto_npo('{% url 'conceptos:create_concepto_npo' object.pk %}')">Concepto</a></li>
        {% if perms.users.perm_gap_monitoreo %}
        <li><a onclick="return update_asignacion_npo('{% url 'asignaciones:update_asignacion_npo_asignador' object.pk %}')">Actualizar</a></li>
        {% else %}
        <li><a onclick="return update_asignacion_npo('{% url 'asignaciones:update_asignacion_npo_ingeniero' object.pk %}')">Actualizar</a></li>
        {% endif %}
      </ul>
      </div>
    </th>
    {% else %}
    {% endif %}
  {% else %}
  {% endif %}
</tr>
