<div class="panel-body">
  <p>Estado asignada {{ asignaciones_npo_asignada }}</p>
  <p>Estado requiere visita {{ asignaciones_npo_requiere_visita }}</p>
  <p>Estado en monitoreo {{ asignaciones_npo_en_monitoreo }}</p>
  <p>Estado escalado a claro {{ asignaciones_npo_escalado_a_claro }}</p>
  <p>Estado enviado a seguimiento {{ asignaciones_npo_enviado_a_seguimiento }}</p>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_npo' %}?qs=asignaciones_npo_asignada_un_dia_qs">Estado asignada un dia {{ asignaciones_npo_asignada_un_dia }}</a>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_npo' %}?qs=asignaciones_npo_en_monitoreo_tres_dias_qs">Estado en monitoreo tres dias {{ asignaciones_npo_en_monitoreo_tres_dias }}</a>
</div>
