<div class="panel-body">
  <p>asignaciones npo asignada {{ asignaciones_npo_asignada }}</p>
  <p>asignaciones npo requiere visita {{ asignaciones_npo_requiere_visita }}</p>
  <p>asignaciones npo en monitoreo {{ asignaciones_npo_en_monitoreo }}</p>
  <p>asignaciones npo escalado a claro {{ asignaciones_npo_escalado_a_claro }}</p>
  <p>asignaciones npo enviado a seguimiento {{ asignaciones_npo_enviado_a_seguimiento }}</p>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_npo' %}?qs=asignaciones_npo_asignada_previo_hoy_qs">asignaciones npo asignada previo hoy {{ asignaciones_npo_asignada_previo_hoy }}</a>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_npo' %}?qs=asignaciones_npo_en_monitoreo_tres_dias_qs">asignaciones npo en monitoreo tres dias {{ asignaciones_npo_en_monitoreo_tres_dias }}</a>
</div>
