{% extends "base.html" %}
{% load filter_tags %}
{% block title %}Lista De Estaciones{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block header_left %}
{% if perms.users.perm_gap_administrador %}
<h1>Lista De Estaciones {{ estaciones_count }}
  <a onclick="return create_estacion('{% url 'estaciones:create_estacion' %}')" class="btn btn-primary btn-sm" role="button">Crear</a>
  <a href="{% url 'estaciones:export_estaciones' %}" class="btn btn-info btn-sm" role="button">Exportar</a>
</h1>
{% else %}
<h1>Lista De Estaciones
  <a href="{% url 'estaciones:export_estaciones' %}" class="btn btn-info btn-sm" role="button">Exportar</a>
</h1>
{% endif %}
{% endblock header_left %}

{% block header_right %}
<form class="form-inline" action="{% url 'estaciones:search_estacion' %}" method="get" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Buscar" required>
  </div>
   <button type="submit" class="btn btn-default">Buscar</button>
</form>
<h4>total en pagina {{ object_list.count }}</h4>
{% endblock header_right %}

{% block filter_left %}
<form class="form-inline" action="{% url 'estaciones:filter_estacion' %}" method="get" accept-charset="utf-8">
  <div class="form-group">
    <select class="form-control" name="field" required>
      <option value="">campo</option>
      {% for field in estacion_fields %}
      <option value="{{ field }}">{{ field|replace_underscore:"_" }}</option>
      {% endfor %}
    </select>
    <input type="text" class="form-control" name="value" placeholder="consulta">
  </div>
  <button type="submit" class="btn btn-default">Filtrar</button>
</form><br>
{% if result %}
<p>Se encontraron {{ result }} estaciones</p>
{% endif %}
{% endblock filter_left %}

{% block content %}
<table class="table table-sm table-striped">
  <thead>
    {% include "estacion/includes/partials/head_estacion.html" %}
  </thead>
  <tbody>
    {% for estacion in object_list %}
      {% include "estacion/includes/partials/body_estacion.html" %}
    {% endfor %}
  </tbody>
</table>
<div class="modal fade" id="create_estacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="modal fade" id="update_estacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
{% endblock content %}

{% block nav_paginate %}
{% include "includes/partials/nav_paginate.html" %}
{% endblock nav_paginate %}

{% block extra_js %}
<script>
var create_estacion_modal;
function create_estacion(url){
  create_estacion_modal = $('#create_estacion').modal({
  }).modal('show').load(url)
}

var update_estacion_modal;
function update_estacion(url){
  update_estacion_modal = $('#update_estacion').modal({
  }).modal('show').load(url)
}
</script>
{% endblock extra_js %}
