{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Actuailzar Eataciones{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block header_left %}
<h1>Actuailzar Estacion</h1>
{% endblock header_left %}

{% block content_left %}
<form method="POST" class="">{% csrf_token %}
  <div class="form-group">
    {{ form|crispy }}<br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{% url 'estaciones:list_estacion' %}"class="btn btn-default" role="button">Cancelar</a>
  </div>
</form>
{% endblock content_left %}
