<tr>
  <th scope="row">{{ object.id }}</th>
  <td>{{ object.wp }}</td>
  <td>{{ object.agrupadores }}</td>
  <td>{{ object.siteName }}</td>
  <td>{{ object.region }}</td>
  <td>{{ object.ciudad }}</td>
  <td>{{ object.proyecto }}</td>
  <td>{{ object.banda }}</td>
  <td>{{ object.escenario }}</td>
  <td>{{ object.ss }}</td>
  <td>{{ object.realTiFinish }}</td>
  <td>{{ object.fechaIntegracion }}</td>
  <td>{{ object.fechaEstado }}</td>
  <td>{{ object.estadoNOC }}</td>
  <td>{{ object.subEstadoNOC }}</td>
</tr>
