<div class="panel-body">
  <p>Estado asignada {{ asignaciones_ni_asignada }}</p>
  <p>Estado requiere visita {{ asignaciones_ni_requiere_visita }}</p>
  <p>Estado en monitoreo {{ asignaciones_ni_en_monitoreo }}</p>
  <p>Estado escalado a claro {{ asignaciones_ni_escalado_a_claro }}</p>
  <p>Estado enviado a seguimiento {{ asignaciones_ni_enviado_a_seguimiento }}</p>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_ni' %}?qs=asignaciones_ni_asignada_un_dia_qs">Asignaciones sin Registro {{ asignaciones_ni_asignada_un_dia }}</a>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_ni' %}?qs=asignaciones_ni_en_monitoreo_tres_dias_qs">Asignaciones sin Avance {{ asignaciones_ni_en_monitoreo_tres_dias }}</a>
</div>
