{% load filter_tags %}
<div class="panel-body">
  <!-- <p>Estado asignada {{ asignaciones_ni_asignada }}</p>
  <p>Estado requiere visita {{ asignaciones_ni_requiere_visita }}</p>
  <p>Estado en monitoreo {{ asignaciones_ni_en_monitoreo }}</p>
  <p>Estado escalado a claro {{ asignaciones_ni_escalado_a_claro }}</p>
  <p>Estado enviado a seguimiento {{ asignaciones_ni_enviado_a_seguimiento }}</p> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Ingeniero</th>
        <th style="text-align: center;">Asignadas</th>
        <th style="text-align: center;">Monitoreo</th>
        <th style="text-align: center;">Incidentes</th>
      </tr>
      <tr>
        <th style="text-align: center;"></th>
        <th style="text-align: center;">L - R</th>
        <th style="text-align: center;"></th>
      </tr>
    </thead>
    <tbody>
      {% for ingeniero_ni in ingenieros_ni %}
      <tr>
        <td>{{ ingeniero_ni }}</td>
        <td style="text-align: center;">{{ ingeniero_ni.asignaciones_ni_ingeniero|estado_asignacion_ni:"Asignada,Local" }}({{ ingeniero_ni.asignaciones_ni_ingeniero|estado_asignacion_ni_estacion:"Asignada,Local" }}) -
          {{ ingeniero_ni.asignaciones_ni_ingeniero|estado_asignacion_ni:"Asignada,Remoto" }}({{ ingeniero_ni.asignaciones_ni_ingeniero|estado_asignacion_ni_estacion:"Asignada,Remoto" }})
        </td>
        <td style="text-align: center;">{{ ingeniero_ni.asignaciones_ni_ingeniero|estado_asignacion_ni:"En monitoreo" }}</td>
        <td style="text-align: center;">{{ ingeniero_ni.incidentes_ni|estado_incidente_ni:"Abierto" }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_ni' %}?qs=asignaciones_ni_asignada_un_dia">Asignaciones sin Registro {{ asignaciones_ni_asignada_un_dia }}</a>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'asignaciones:list_asignacion_ni' %}?qs=asignaciones_ni_en_monitoreo_tres_dias">Asignaciones sin Avance {{ asignaciones_ni_en_monitoreo_tres_dias }}</a>
</div>
