{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Actualizar Asiganacion NI{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block header_left %}
<h1>Actualizar Asiganacion NI</h1>
{% endblock header_left %}

{% block content_left %}
<form method="POST" class="">{% csrf_token %}
    {{ form|crispy }}<br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{% url 'asignaciones:list_asignacion_ni' %}"class="btn btn-default" role="button">Cancelar</a>
</form>
{% endblock content_left %}

{% block content_center %}
<a href="{% url 'conceptos:create_concepto_ni' object.pk %}" class="fm-create btn btn-primary" role="button" data-fm-head="Crear Concepto NI" data-fm-callback="reload">Concepto NI</a>
{% endblock content_center %}
