<tr>
  <th scope="row">{{ object.id }}</th>
  <td><a href="{% url 'estaciones:detail_estacion' object.estacion.pk %}">{{ object.estacion }}</a></td>
  <td>{{ object.actividad }}</td>
  <td><a href="{% url 'actividades:detail_actividad' object.actividad.pk %}">{{ object.wp }}</a></td>
  <td>{{ object.mensaje }}</td>
  <td>{{ object.estado_alerta }}</td>
  <td>{{ object.tipo_alerta }}</td>
  <td>{{ object.creado }}</td>
  <td>{{ object.actualizado }}</td>
  {% if object.estado_alerta == 'Abierto' %}

    {% if perms.users.perm_gap_administrador %}
      <th>
        <a onclick="return delete_alerta('{% url 'alertas:delete_alerta' object.pk %}')" class="btn btn-primary btn-sm" role="button">Borrar</a>
      </th>
    {% else %}
    {% endif %}

  {% else %}
  {% endif %}
</tr>
