<tr>
  <th scope="row">{{ object.id }}</th>
  {% if object.ni_ingeniero %}
    <td><a href="{% url 'users:detail_perfil' object.ni_ingeniero.slug %}">{{ object.ni_ingeniero }}</a></td>
  {% else %}
    <td>{{ object.ni_ingeniero }}</td>
  {% endif %}
  {% if object.asignacion_ni %}
    <td><a href="{% url 'asignaciones:detail_asignacion_ni' object.asignacion_ni.pk %}">{{ object.asignacion_ni }}</a></td>
  {% else %}
    <td>{{ object.asignacion_ni }}</td>
  {% endif %}
  <td><a href="{% url 'estaciones:detail_estacion' object.estacion.pk %}">{{ object.estacion }}</a></td>
  <td>{{ object.actividad }}</td>
  <td><a href="{% url 'actividades:detail_actividad' object.actividad.pk %}">{{ object.wp }}</a></td>
  <td>{{ object.contenido }}</td>
  <td>{{ object.creado }}</td>
  <td>{{ object.actualizado }}</td>
  {% if perms.users.perm_ni_ingeniero %}
  <th>
    <a onclick="return update_concepto_ni('{% url 'conceptos:update_concepto_ni' object.pk %}')" class="btn btn-primary btn-sm" role="button">Actualizar</a>
  </th>
  <!-- <th>
    <a onclick="return delete_concepto_ni('{% url 'conceptos:delete_concepto_ni' object.pk %}')" class="btn btn-danger btn-sm" role="button">Borrar</a>
  </th> -->
  {% else %}
  {% endif %}
</tr>
