{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Profile Users{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}


{% block header %}
<h1>Actualizar Perfil</h1>
{% endblock header %}

{% block content_left %}
<form method="POST" class="">{% csrf_token %}
    {{ form|crispy }}<br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a href="{% url 'users:detail_perfil' user.perfil.slug %}"class="btn btn-default" role="button">Cancelar</a>
</form>
{% endblock content_left %}
