{% extends "base.html" %}
{% block title %}Lista De Degradaciones{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block header_left %}
<h1>
  Lista De Degradaciones
  <a href="{% url 'actividades:export_degradaciones' %}" class="btn btn-info btn-sm" role="button">Exportar</a>
</h1>
{% endblock header_left %}

{% block header_right %}
<form class="form-inline" action="{% url 'actividades:search_degradacion' %}" method="get" accept-charset="utf-8">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Buscar">
  </div>
   <button type="submit" class="btn btn-default">Buscar</button>
</form>
{% endblock header_right %}

{% block content %}
<table class="table table-sm table-striped">
  <thead>
    {% include "degradacion/includes/partials/head_degradacion.html" %}
  </thead>
  <tbody>
    {% for object in object_list %}
      {% include "degradacion/includes/partials/body_degradacion.html" %}
    {% endfor %}
  </tbody>
</table>
<div class="modal fade" id="update_degradacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
<div class="modal fade" id="delete_degradacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
{% endblock content %}

{% block nav_paginate %}
{% include "includes/partials/nav_paginate.html" %}
{% endblock nav_paginate %}

{% block extra_js %}
<script>

var update_degradacion_modal;
function update_degradacion(url){
  update_degradacion_modal = $('#update_degradacion').modal({
  }).modal('show').load(url)
}

var delete_degradacion_modal;
function delete_degradacion(url){
  delete_degradacion_modal = $('#delete_degradacion').modal({
  }).modal('show').load(url)
}

</script>
{% endblock extra_js %}
