<tr>
  <th>actualizar</th>
  <th>degradacion</th>
  <th>asignar NI</th>
  <th>asignar NPO</th>
  <th>id</th>
  <th>wp</th>
  <th>id notificacion noc</th>
  <th>agrupador</th>
  <th>service supplier</th>
  <th>estacion</th>
  <th>regional</th>
  <th>ciudad</th>
  <th>responsable</th>
  <th>prioridad</th>
  <th>banda</th>
  <th>valor wp eur</th>
  <th>proyecto</th>
  <th>escenario</th>
  <th>tipo trabajo</th>
  <th>fecha ingreso onair</th>
  <th>realtifinish</th>
  <th>fecha integracion</th>
  <th>grupo gap</th>
  <th>fecha estado noc</th>
  <th>estado noc</th>
  <th>subestado noc</th>
  <th>impacto degradacion</th>
  <th>fecha fc visita</th>
  <th>requiere hw</th>
  <th>cantidad hw</th>
  <th>degradaciones</th>
  <th>asignaciones npo</th>
  <th>conceptos npo</th>
  <th>asignaciones ni</th>
  <th>conceptos ni</th>
  <th>solicitudes hw</th>
  <th>estado ultimo</th>
  <th>estado unico</th>
</tr>
