<div class="panel-body">
  <p>Estado NOC produccion {{ actividades_estado_noc_produccion }}</p>
  <p>Estado NOC seguimiento 12H {{ actividades_estado_noc_seguimiento_12h }}</p>
  <p>Estado NOC seguimiento 24H {{ actividades_estado_noc_seguimiento_24h }}</p>
  <p>Estado NOC seguimiento 36H {{ actividades_estado_noc_seguimiento_36h }}</p>
  <p>Estado NOC seguimiento FO {{ actividades_estado_noc_seguimiento_fo }}</p>
  <p>Estado NOC escalado a implementacion {{ actividades_estado_noc_escalado_a_implementacion }}</p>
  <p>Estado NOC escalado a grupo calidad {{ actividades_estado_noc_escalado_a_grupo_calidad }}</p>
  <p>Estado NOC escalado a RF {{ actividades_estado_noc_escalado_a_rf }}</p>
  <p>Estado NOC escalado a OYM {{ actividades_estado_noc_escalado_a_oym }}</p>
  <p>Estado NOC escalado a GDRT {{ actividades_estado_noc_escalado_a_gdrt }}</p>
  <p>Estado NOC escalado control cambios {{ actividades_estado_noc_escalado_control_cambios }}</p>
  <p>Estado NOC precheck {{ actividades_estado_noc_precheck }}</p>
  <p>Estado NOC pendiente remedy {{ actividades_estado_noc_pendiente_remedy }}</p>
  <p>Estado NOC stand by {{ actividades_estado_noc_stand_by }}</p>
  <p>Estado NOC rollback {{ actividades_estado_noc_rollback }}</p>
  <p>Estado NOC suspendido {{ actividades_estado_noc_suspendido }}</p>
</div>
