<div class="panel-body">
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_produccion">Estado NOC Produccion {{ actividades_estado_noc_produccion }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_seguimiento_12h">Estado NOC Seguimiento 12H {{ actividades_estado_noc_seguimiento_12h }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_seguimiento_24h">Estado NOC Seguimiento 24H {{ actividades_estado_noc_seguimiento_24h }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_seguimiento_36h">Estado NOC Seguimiento 36H {{ actividades_estado_noc_seguimiento_36h }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_seguimiento_fo">Estado NOC Seguimiento FO {{ actividades_estado_noc_seguimiento_fo }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_a_implementacion">Estado NOC Escalado a implementacion {{ actividades_estado_noc_escalado_a_implementacion }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_a_grupo_calidad">Estado NOC Escalado a grupo calidad {{ actividades_estado_noc_escalado_a_grupo_calidad }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_a_rf">Estado NOC Escalado a RF {{ actividades_estado_noc_escalado_a_rf }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_a_oym">Estado NOC Escalado a OYM {{ actividades_estado_noc_escalado_a_oym }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_a_gdrt">Estado NOC Escalado a GDRT {{ actividades_estado_noc_escalado_a_gdrt }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_escalado_control_cambios">Estado NOC Escalado control cambios {{ actividades_estado_noc_escalado_control_cambios }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_precheck">Estado NOC Precheck {{ actividades_estado_noc_precheck }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_pendiente_remedy">Estado NOC Pendiente remedy {{ actividades_estado_noc_pendiente_remedy }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_stand_by">Estado NOC Stand by {{ actividades_estado_noc_stand_by }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_rollback">Estado NOC Rollback {{ actividades_estado_noc_rollback }}</a></p>
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_suspendido">Estado NOC Suspendido {{ actividades_estado_noc_suspendido }}</a></p>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <p><a href="{% url 'actividades:list_actividad' %}?qs=actividades_estado_noc_none">Sin Estado {{ actividades_estado_noc_none }}</a></p>
</div>
