{% extends "base.html" %}
{% block title %}Gap OnAir{% endblock title %}

{% block nav %}
{% include "includes/partials/nav_main.html" %}
{% endblock nav %}

{% block content %}
{% if user.is_authenticated %}

  {% if not perms.users.perm_gap_administrador and not perms.users.perm_fm_lider %}
    {% if perms.users.perm_ni_ingeniero or perms.users.perm_npo_ingeniero %}
    {% else %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Bienvenidos</h1>
          <p>Esta es una aplicacion web para el control de actividades de Gap OnAir.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="{% url 'estaciones:list_estacion' %}" role="button">Estaciones &raquo;</a>
            <a class="btn btn-primary btn-lg" href="{% url 'actividades:list_actividad' %}" role="button">Actividades &raquo;</a>
          </p>
        </div>
    </div>
    {% endif %}
  {% endif %}
{% else %}
<div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenidos</h1>
        <p>Esta es una aplicacion web para el control de actividades de Gap OnAir.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="{% url 'users:login_user' %}" role="button">Entrar &raquo;</a>
          <a class="btn btn-primary btn-lg" href="{% url 'users:signin_user' %}" role="button">Registrar &raquo;</a>
        </p>
      </div>
</div>
{% endif %}
{% endblock content %}

{% block header_left %}
{% if user.is_authenticated and perms.users.perm_gap_administrador or perms.users.perm_fm_lider %}
  <h1>
    Paneles de Información
    <a href="{% url 'index' %}" class="btn btn-primary btn-sm" role="button">Actualizar</a>
  </h1><br>
{% else %}
  {% if perms.users.perm_ni_ingeniero or perms.users.perm_npo_ingeniero %}
  <h1>
    Paneles de Información
    <a href="{% url 'index' %}" class="btn btn-primary btn-sm" role="button">Actualizar</a>
  </h1><br>
  {% else %}
  {% endif %}
{% endif %}
{% endblock header_left %}

{% block content_left %}
{% if user.is_authenticated and perms.users.perm_gap_administrador or perms.users.perm_fm_lider %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'asignaciones:list_asignacion_npo_perfil' user.perfil.slug %}">Asignaciones NPO {{ asignaciones_npo }}</a></h3>
  </div>
  {% include "asignacion_npo/includes/partials/panels_asignacion_npo.html" %}
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'incidentes:list_incidente_npo' %}">Incidentes NPO {{ incidentes_npo }}</a></h3>
  </div>
  {% include "incidente_npo/includes/partials/panels_incidente_npo.html" %}
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'fallas:list_falla' %}">Fallas {{ fallas }}</a></h3>
  </div>
  {% include "falla/includes/partials/panels_falla.html" %}
</div>
{% else %}
  {% if  perms.users.perm_npo_ingeniero %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{% url 'asignaciones:list_asignacion_npo_perfil' user.perfil.slug %}">Asignaciones NPO {{ asignaciones_npo }}</a></h3>
    </div>
    {% include "asignacion_npo/includes/partials/panels_asignacion_npo.html" %}
  </div>
  {% else %}
  {% endif %}
  {% if perms.users.perm_ni_ingeniero %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="{% url 'asignaciones:list_asignacion_ni_perfil' user.perfil.slug  %}">Asignaciones NI {{ asignaciones_ni }}</a></h3>
    </div>
    {% include "asignacion_ni/includes/partials/panels_asignacion_ni.html" %}
  </div>
  {% else %}
  {% endif %}
{% endif %}
{% endblock content_left %}

{% block content_center %}
{% if user.is_authenticated and perms.users.perm_gap_administrador or perms.users.perm_fm_lider %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'asignaciones:list_asignacion_ni_perfil' user.perfil.slug  %}">Asignaciones NI {{ asignaciones_ni }}</a></h3>
  </div>
  {% include "asignacion_ni/includes/partials/panels_asignacion_ni.html" %}
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'incidentes:list_incidente_ni' %}">Incidentes NI {{ incidentes_ni }}</a></h3>
  </div>
  {% include "incidente_ni/includes/partials/panels_incidente_ni.html" %}
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'solicitudeshw:list_solicitudhw' %}">Solicitudes HW {{ solicitudeshw }}</a></h3>
  </div>
  {% include "solicitudhw/includes/partials/panels_solicitudhw.html" %}
</div>
{% else %}
{% endif %}
{% endblock content_center %}

{% block content_right %}
{% if user.is_authenticated and perms.users.perm_gap_administrador or perms.users.perm_fm_lider %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'estaciones:list_estacion' %}">Estaciones {{ estaciones }}</a></h3>
  </div>
  {% include "estacion/includes/partials/panels_estacion.html" %}
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'actividades:list_actividad' %}">Actividades {{ actividades }}</a></h3>
  </div>
  {% include "actividad/includes/partials/panels_actividad.html" %}
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'notificaciones:list_notificacion_requiere_visita' %}">Notificaciones</a></h3>
  </div>
  <div class="panel-body">
    <p>Requiere visita {{ notificaciones_requiere_visita }}</p>
    <p>Falla instalacion {{ notificaciones_falla_instalacion }}</p>
    <p>Falla integracion {{ notificaciones_falla_integracion }}</p>
  </div>
</div>
{% else %}
{% endif %}
{% endblock content_right %}
