<tr>
  <th scope="row">{{ estacion.pk }}</th>
  <td><a href="{% url 'estaciones:detail_estacion' estacion.pk %}">{{ estacion.nombre }}</a></td>
  <td>{{ estacion.regional }}</td>
  <td>{{ estacion.ciudad }}</td>
  <td>{{ estacion.responsable }}</td>
  <td>{{ estacion.prioridad }}</td>
  <td>{{ estacion.estado_estacion }}</td>
  {% if perms.users.perm_gap_administrador %}
  <th>
    <a onclick="return update_estacion('{% url 'estaciones:update_estacion' estacion.pk %}')" class="btn btn-primary btn-sm" role="button">Actualizar</a>
  </th>
  <!-- <th>
    <a href="{% url 'estaciones:delete_estacion' estacion.pk %}" class="btn btn-danger btn-sm" role="button">Borrar</a>
  </th> -->
  {% else %}
  {% endif %}
</tr>
