<div class="panel-body">
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_produccion">Estado Produccion {{ estaciones_estado_produccion }}</a></p>
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_enviado_a_seguimiento">Estado Enviado a seguimiento {{ estaciones_estado_enviado_a_seguimiento }}</a></p>
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_escalado_a_claro">Estado Escalado a claro {{ estaciones_estado_escalado_a_claro }}</a></p>
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_en_monitoreo">Estado En monitoreo {{ estaciones_estado_en_monitoreo }}</a></p>
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_requiere_visita">Estado Requiere visita {{ estaciones_estado_requiere_visita }}</a></p>
  <p><a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_asignada">Estado Asignada {{ estaciones_estado_asignada }}</a></p>
</div>
<hr style="margin: 0px">
<div class="panel-body">
  <a href="{% url 'estaciones:list_estacion' %}?qs=estaciones_estado_none">Sin Estado {{ estaciones_estado_none }}</a>
</div>
