{% load crispy_forms_tags %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Actualizar Incidente NPO</h4>
    </div>
    <div class="modal-body">
      <form method="POST" action="{% url 'incidentes:update_incidente_npo' object.pk %}" id="form_modal" class="">{% csrf_token %}
        <div class="form-group">
          {{ form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

var success_url = "{% url 'estaciones:detail_estacion' actividad.estacion.pk %}"
var modal_body = $(".modal-body");
var modal_load_error = "ERROR! la informacion no fue cargada.";

$("#form_modal").submit(function(event) {
  event.preventDefault();
  $.ajax({
    url : this.action,
    type: "POST",
    data: $(this).serialize(),
    success: function (data) {
      if ( $(data).find('div.alert.alert-block.alert-danger').length > 0 ) {
        error = $(data).find('div.alert.alert-block.alert-danger')
        modal_body.append(error);
      } else {
          window.location.href = success_url;
      }
    },
    error: function () {
      modal_body.text(modal_load_error);
    }
  });
});

</script>
